.el-button {
  --el-button-font-weight: 400;
  --el-button-text-color: var(--sop-normal);
  --el-button-border-color: #999;
  --el-button-hover-text-color: var(--sop-hover);
  --el-button-hover-bg-color: none;
  --el-button-hover-border-color: var(--sop-hover);
  --el-button-active-text-color: var(--sop-blue);
  --el-button-active-border-color: var(--sop-blue);
  --el-button-disabled-text-color: var(--sop-disabled);
  --el-button-disabled-border-color: var(--el-disabled-border-color);
  --el-button-disabled-bg-color: var(--el-disabled-bg-color);

  &--primary {
    --el-button-bg-color: var(--sop-blue);

    --el-button-text-color: #FFF;
    --el-button-border-color: var(--sop-blue);

    --el-button-hover-text-color: #FFF;
    --el-button-hover-bg-color: var(--sop-hover);
    --el-button-active-text-color: #FFF;
    --el-button-active-bg-color: var(--sop-blue);

    --el-button-disabled-border-color: var(--el-disabled-bg-color);
  }

  padding: 0 11px;
  font-size: var(--sop-font-size);

  & + & {
    margin-left: 8px;
  }
  // TODO
  // 失去焦点的顺序有些问题，按钮 hover -> mousedown => mouseup 都有颜色区分，需要覆写
  // &,
  // &:focus {
  // }

  // &:hover {
  // }

  // &:active {
  // }
}
