.el-tag {
  --el-tag-bg-color: #E6F0FF;
  --el-tag-border-color: var(--el-tag-bg-color);
  --el-tag-text-color: var(--el-text-color-primary);
  --el-tag-border-radius: 2px;

  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.el-tag--small {
  padding: 0 4px;
  height: 18px;

  & + & {
    margin-left: 4px;
  }
}
