.el-tag + .el-tag{
  margin-left: 8px;
}

.el-tag--small {
  padding: 0 4px;
  height: 18px;

  & + & {
    margin-left: 4px;
  }
}

.el-tag {
  --el-tag-bg-color: #E6F0FF;
  --el-tag-border-color: var(--el-tag-bg-color);
  --el-tag-text-color: var(--sop-normal);
  --el-tag-border-radius: 2px;
  --el-tag-hover-color: var(--sop-blue);
}
