.el-button {
  /**
   * Normal
   * use backdrop-filter instead of background-color
   */
  --el-button-bg-color: rgba(0, 0, 0, .02);
  --el-button-font-weight: 400;
  --el-button-text-color: var(--el-text-color-primary);
  --el-button-border-color: rgba(0, 0, 0, .16);

  /**
   * Hover
   */
  --el-button-hover-text-color: var(--el-text-color-primary);
  --el-button-hover-bg-color: var(--el-button-bg-color);
  --el-button-hover-border-color: var(--seemusic-text-hover);

  /**
   * Active
   */
   --el-button-active-bg-color: rgba(0, 0, 0, .1);

  /**
   * Disabled
   */
  --el-button-disabled-border-color: var(--el-disabled-border-color);
  --el-button-disabled-bg-color: var(--el-disabled-bg-color);

  padding: 0 12px;
  backdrop-filter: blur(4px);

  & + & {
    margin-left: 12px;
  }

  // After clicking ElButton, the button remains in focus state, even if the mouse is moved out, which will cause the button to stay in focus state after clicking. This needs to override the built-in style.
  &:focus {
    --el-button-hover-bg-color: var(--el-button-bg-color);
    --el-button-hover-border-color: var(--el-button-border-color);

    &:hover {
      --el-button-hover-bg-color: var(--el-button-bg-color);
      --el-button-hover-border-color: var(--seemusic-text-hover);
    }
  }

  &--primary {
    --el-button-bg-color: rgba(0, 0, 0, .9);
    --el-button-text-color: #FFF;

    --el-button-hover-text-color: #FFF;
    --el-button-hover-bg-color: var(--seemusic-text-hover);
    --el-button-hover-border-color: var(--seemusic-text-hover);

    --el-button-active-text-color: #FFF;
    --el-button-active-border-color: var(--el-color-primary);
    --el-button-active-bg-color: var(--el-color-primary);

    --el-button-disabled-text-color: var(--el-disabled-text-color);
    --el-button-disabled-border-color: var(--el-disabled-bg-color);

    &:focus:hover {
      --el-button-hover-bg-color: var(--seemusic-text-hover);
    }
  }

  &--large {
    min-width: 120px;
  }
}
