.el-drawer {
  --el-drawer-padding-primary: 0 24px;
  font-family: var(--el-font-family);

  &.rtl {
    box-shadow: inset 1px 0 0 0 var(--el-disabled-border-color);
  }

  &.ltr {
    box-shadow: inset -1px 0 0 0 var(--el-disabled-border-color);
  }
}

.el-drawer__header {
  position: relative;
  margin-bottom: 0;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: var(--el-disabled-border-color);
  }
}

.el-drawer__title {
  padding: 15px 0;
  color: var(--el-text-color-primary);
  font-weight: 600;
  font-size: 48px;
}

.el-drawer__close-btn {
  font-size: 36px;

  &:focus,
  &:hover {
    i {
      color: #000;
    }
  }
}

.el-drawer__body {
  padding: 0;
}

.el-drawer__footer {
  display: flex;
  padding: 0;

  .el-button--large {
    margin: 0;
    height: 56px;
    flex: 1;
  }
}
