.el-pagination {
  --el-pagination-button-bg-color: none;
  --el-pagination-border-radius: var(--el-border-radius-base);
  --el-pagination-button-color: #000;
  --el-pagination-item-gap: 8px;

  position: relative;
  justify-content: flex-end;
  padding: 0;

  .el-pagination__text {
    position: absolute;
    left: 0;
  }

  .el-pagination__sizes {
    margin: 0;
  }

  .btn-next,
  .btn-prev {
    .el-icon {
      display: inline-flex;
    }
  }

  &.is-background {
    .btn-prev:disabled,
    .btn-next:disabled {
      background: none;
    }

    .el-pager li:not(.is-disabled).is-active {
      background-color: rgba(0, 0, 0, .9);
      font-weight: 400;
    }
  }

  // size trigger
  .el-select {
    width: 120px;
  }
}

.el-pagination__editor {
  min-width: 48px;
}

.el-pagination__editor.el-input {
  width: 48px;
}

.el-pagination__jump {
  color: var(--el-text-color-primary);
}

.el-pagination__goto {
  line-height: 32px;
}

.el-pager {
  li {
    color: var(--el-text-color-regular);

    &:hover {
      color: #000;
    }
  }
}
