@use "@seemusic/styles/src/themes/element-plus-theme-sop.scss";

/** @todo
 * Need to separate the color system from the Star Sop's color system
 */

:root {

  --icon-default-size: 24px;

  --el-disabled-bg-color: var(--seemusic-bg-disabled);
  --el-disabled-border-color: var(--seemusic-border-disabled);
  --el-disabled-text-color: var(--seemusic-text-disabled);
}
