.el-popover {
  --el-popover-border-radius: var(--el-border-radius-base);

  &.el-popper {
    line-height: 1.5;
  }

  &.is-light {
    backdrop-filter: blur(8px);
  }
}

.el-popover__title {
  line-height: inherit; // 默认设置为 1，不支持多行。前面通过设置 .el-popper 的 line-height，搭配此处 inherit 继承。
  font-weight: 600;
}
