.el-popover {
  --el-popover-border-radius: var(--el-border-radius-base);

  &.el-popper {
    line-height: 1.5;
  }

  &.is-light {
    backdrop-filter: blur(8px);
  }
}

.el-popover__title {
  // The default value of Element Plus is 1, which does not support multi-line titles.
  // Setting the line-height of .el-popper and inheriting it here.
  line-height: inherit;
  font-weight: 600;
}
