.el-popover {
  --el-popover-font-size: var(--sop-font-size);
  --el-popover-title-font-size: var(--sop-font-size);
  --el-popover-border-radius: var(--el-border-radius-base);

  // --el-popover-padding: 16px;

  // TODO
  // --el-popover-border-color
  // --el-popover-padding-large ? 哪里用了

  &.el-popper {
    // line-height: 1.5;
    // color: var(--el-text-color-primary);

    .el-popper__arrow {
      // display: none;
    }
  }

  &.is-light {

  }
}

.el-popover__title {
  line-height: inherit; // 1.5
  font-weight: 600;
}
