.el-select {
  --el-select-border-color-hover: var(--seemusic-text-hover);
  --el-select-input-font-size: var(--el-font-size-base);
}

.el-select__caret {
  font-size: 18px;
}

.el-select__popper.el-popper {
  /** @todo
   * If you want the bottom border of ElSelect to overlap with the top border of ElSelectDropdown, additional processing is required.
   * Do not use popper-options to set offset: [0, -1], as it will cause issues with the shadow.
   */
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .16);
  border: none;
  font-family: var(--el-font-family);

  .el-popper__arrow {
    display: none;
  }
}

.el-select-dropdown__item {
  --el-text-color-regular: #333;

  &.is-hovering {
    background: none;
    --el-text-color-regular: var(--seemusic-text-hover);
  }

  &.is-selected {
    --el-color-primary: #0040FF;

    font-weight: 400;
  }

  &.is-focused {
    --el-color-primary: #0040FF;
  }
}

/* Multiple Mode */
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after {
  right: 8px;
}
