.el-table {
  --el-table-header-text-color: #FFF;
  --el-table-header-bg-color: #333;
  --el-table-text-color: var(--el-text-color-primary);
  --el-table-border-color: var(--el-disabled-bg-color);

  font-family: var(--el-font-family);

  .el-table__cell {
    vertical-align: top;
  }

  .cell {
    line-height: 1.5;
  }

  th.el-table__cell.is-leaf {
    border: none;
  }

  .el-table__header .el-table__cell {
    font-weight: 400;
  }

  // .el-table__header-wrapper tr {
  //   th.el-table-fixed-column--left,
  //   th.el-table-fixed-column--right {
  //     background: var(--el-table-header-bg-color);
  //   }
  // }
}

.el-table + .el-pagination {
  margin-top: 16px;
}

.el-table__empty-text {
  line-height: 96px;
}

/**
 * Size
 */
.el-table--large {
  .el-table__cell {
    padding: 9px 0;
  }
}
