/**
 * 注意：
 * 请不要随意修改 el-tag--info 的样式，尤其是尺寸。在其他组件，比如 ElSelect 中，嵌套使用了此类型
 */

.el-tag {
  --el-tag-border-radius: var(--el-border-radius-base);

  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.el-tag--small {
  padding: 0 4px;
  height: 18px;
}

.el-tag.el-tag--primary {
  --el-tag-bg-color: rgba(0, 0, 0, .02);
  --el-tag-border-color: rgba(0, 0, 0, .16);
  --el-tag-text-color: var(--el-text-color-primary);
}
