.el-button {
  border-radius: 6px;

  // // TODO plain 支持
  // --el-button-hover-border-color: var(--seemusic-text-hover);

  // --el-button-active-text-color: var(--el-color-primary);
  --el-button-disabled-border-color: var(--el-disabled-border-color);
  --el-button-disabled-bg-color: var(--el-disabled-bg-color);

  &--default {
    --el-button-border-color: var(--seemusic-primary);
    --el-button-text-color: var(--seemusic-primary);
    --el-button-hover-bg-color: #FFF;
    --el-button-hover-border-color: var(--seemusic-primary);
    font-weight: 400;
  }

  &--primary {
    --el-button-hover-border-color: var(--el-button-hover-bg-color);
    --el-button-hover-bg-color: var(--seemusic-text-hover);
    --el-button-disabled-text-color: var(--el-disabled-text-color);
    --el-button-disabled-border-color: var(--el-disabled-bg-color);
    --el-button-font-weight: 600;
  }

  &--large {
    --el-button-size: 48px;

    padding-left: 32px;
    padding-right: 32px;
    font-size: 18px;
    border-radius: 8px;
  }

  &.is-text {
    --el-button-text-color: #333;
    font-weight: 600;
  }
  // TODO 验证
  // &--danger {
  //   --el-button-border-color: var(--el-color-danger);

  //   &:hover {
  //     color: var(--el-color-danger);
  //     border-color: var(--el-color-danger);
  //   }
  // }

  // &--primary,
  // &--danger {
  //   --el-button-text-color: #FFF;
  // }

  // padding: 0 11px;
  // font-size: var(--sop-font-size);

  // & + & {
  //   margin-left: 16px;
  // }
  // TODO
  // 失去焦点的顺序有些问题，按钮 hover -> mousedown => mouseup 都有颜色区分，需要覆写
  // &,
  // &:focus {
  // }

  // &:hover {
  // }

  // &:active {
  // }
}
