.el-checkbox {
  --el-checkbox-font-weight: 400;
  --el-checkbox-checked-text-color: #333;
  --el-checkbox-input-border: 1px solid var(--seemusic-info);
  --el-checkbox-border-radius: 3px;

  margin-right: 40px;
  height: 24px;
}

.el-checkbox-button__inner {
  padding: 8px 16px;
}
// TODO 选中再二次点击反选时，处于 focus 状态（is-focus)，需要移除边框
// .el-checkbox-button.is-focus .el-checkbox-button__inner {
// }
