.el-input,
.el-textarea {
  --el-input-text-color: var(--el-text-color-primary);
  --el-input-border-color: #DDD;
  --el-input-hover-border-color: var(--seemusic-text-hover);
  --el-input-border: 1px solid var(--el-input-border-color);
}

.el-input-group__append,
.el-input-group__prepend {
  padding: 0 4px;
  color: var(--seemusic-text-disabled);
  background-color: var(--el-disabled-bg-color);
}


.el-input__wrapper {
  padding: 1px 8px;
}


.el-textarea__inner {
  padding: 4px 9px;
}
