.el-popover {
  --el-popover-border-radius: 0;
  --el-popover-title-font-size: 14px;
  --el-popover-padding: 16px;
  --el-box-shadow-light: 0 24px 48px 0 rgba(0, 0, 0, .24);

  &.el-popper {
    line-height: 24px;
  }
}

.el-popover__title {
  margin-bottom: 16px;
  line-height: 24px;
  font-weight: 600;
}
